/* Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

:root {
	--screensize-lg: 60rem;
	--clr-light: #ddfaff;
	--clr-dark: #232323;
	--clr-secondary-light: #c4a77d;
	--clr-lightblue: #65def1;
	--clr-darkblue: #2d728f;
}

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	background: var(--clr-light);
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	overflow-x: hidden;
}

header ul {
	display: flex;
	justify-content: end;
}

img {
	max-width: 100%;
	height: auto;
}

.logo {
	position: relative;
	float: left;

	/* height: 7rem; */
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
	overflow: hidden;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	/*clear: both does not allow floating elements on left or right*/
	clear: both;
}

/*===Column system (currently used in footer)===*/

[class^='col-'] {
	width: 100%;
	margin-top: 1em;
	/* padding-top: 0em; */
}

[class^='col-']:first-child {
	margin-top: 0em;
}

.col-1 {
	/* margin-top: 2rem; */
	/*col 1 stacked on X*/
	width: 33.3333%;
	float: left;
}

@media (min-width: 40rem) {
	[class^='col-'] {
		float: left;
		padding: 0 0.5em;
		margin-top: 0;
	}

	[class^='col-']:first-child {
		padding-left: 0;
	}

	[class^='col-']:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		padding-top: 1.75em;
		width: 16.6666%;
	}
}

/*===Typography===*/

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}
p:last-of-type {
	margin-bottom: 0;
}

.title {
	color: var(--clr-light);
	text-shadow: 0px 0px 10px var(--clr-dark);

	font-size: 4em;
	margin-bottom: 1.5em;
	font-weight: 1000;
	margin-top: 1em;
}
.title span {
	font-weight: 400;
	display: block;
	font-size: 0.8em;
}

.title-cta {
	color: var(--clr-dark);
	text-shadow: none;
	margin: 0 0 0.5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 60rem) {
	.title {
		font-size: 3.5rem;
	}
}

/*===Buttons===*/
.button {
	display: inline-block;
	font-size: 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 3px;
	border-style: ridge;
	border-radius: 5px;
	padding: 0.5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: 0.7rem;
	font-weight: 700;
}

.button-accent {
	background: rgb(35, 35, 35);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	color: var(--clr-dark);
	border-color: var(--clr-secondary-light);
}

.button-accent:hover,
.button-accent:focus {
	/* background: var(--clr-secondary-light); */
	background: rgba(35, 35, 35, 0.6);

	color: var(--clr-secondary-light);
}

.button-dark {
	color: var(--clr-dark);
	border-color: var(--clr-dark);
}

.button-dark:hover,
.button-dark:focus {
	background: var(--clr-dark);
	color: var(--clr-secondary-light);
}

/*===Parallax (not certain about these classes), using bg-attachment:fixed on the hero bg img===*/

@media (min-width: 25rem) {
	.parallax--bg {
		/*Override the transition of 250ms*/
		transition: initial;
	}
	.parallax--box {
		transition: 250ms;
	}
}

/*===header===*/
header {
	position: absolute;
	width: 100%;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav li {
	display: inline-block;
	margin: 2em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.91rem;
	padding: 0.5em;
	color: rgb(53, 33, 33);
}

nav a::after {
	content: '';
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 1px;
	background-color: #000;
	transition: width 350ms ease;
}

nav a:hover::after,
nav a:focus::after {
	width: 100%;
}

nav a:hover,
nav a:focus {
	color: #000;
}

@media (min-width: 60rem) {
	.logo {
		float: left;
	}
}

@media (min-width: 60rem) {
	.nav {
		float: right;
	}
}

/*home-hero
======*/
.home-hero {
	background-image: url(./assets/bg-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 10em 5em 10em;
	color: #fff;

	/* parallax effect */
	background-attachment: fixed;
}

@media (min-width: 60rem) {
	.home-hero {
		/*scale img with view height*/
		height: 100vh;
		padding-top: 35vh;
	}
}

/*===hero-home===*/

.home-about-textbox {
	color: var(--clr-light);
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	/* margin-left: -4.5%; */
	outline: 2.5px solid var(--clr-secondary-light);
	outline-offset: -2.5em;
	position: relative;
}

.home-about-textbox h1 {
	color: var(--clr-secondary-light);
	position: absolute;

	/*center title*/
	left: 50%;
	transform: translateX(-50%);

	/* top: 0.75em; */
	background: #232323;
	padding: 0 0.145em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}
	.home-about-textbox {
		padding: 5.5em;
		width: inherit;
		/* outline-offset: -4.5em; */
	}
	.home-about-textbox h1 {
		top: 0.6em;
		padding: 0 0.325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}
	.home-about {
		display: flex;
		align-items: center;
		background: url(assets/skiLS1.jpg) no-repeat 50% 50%;
		background-size: contain;
		/* border-radius: 0em 0em 2em 2em; */
		/* background-position: center; */
		/* background-origin: context-box; */
		padding-top: 10em;
		padding-bottom: 10em;
	}
	.home-about-textbox {
		width: 50%;
		padding: 5em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: 1em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
	}
	.home-about-textbox h1 {
		top: 0.75em;
		left: 6rem;
		transform: translateX(0);
	}
}

/*===portfolio===*/

#portfolio-section h1 {
	margin-top: 1.5rem;
	/* font-weight: bold; */
	color: var(--clr-dark);
}
#portfolio-section h1 span {
	display: block;
}

.portfolio {
	margin: 3em 0;
}

.port-item {
	display: block;
	margin: 0;

	position: relative;
	width: 100%;
}

.port-item img {
	/* display: inline-block; */
	width: 100%;
}

.port-description {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	border-radius: 10px 10px 0px 0px;
	background: rgba(0, 0, 0, 0.6);
	padding-bottom: 2em;
	padding-top: 0.5em;
}

.port-description p {
	margin: 1em;
}
.port-description a.button {
	font-weight: normal;
	color: var(--clr-light);
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;

		/* line up into "grid" stacked left */
		float: left;
	}
	.port-item img {
		width: 100%;
		height: 100%;
		/* overflow: hidden; */
		/* width: fit-content; */
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333332%;
		/* width: 50%; */
		overflow: hidden;
	}
	.port-item img {
		width: 100%;
	}

	.port-description {
		transform: translateY(150%);
	}
	/*Description appears on hover at larger screen sizes*/
	.port-item:hover .port-description {
		transform: translateY(0%);
	}
}

/*===Call to action===*/

.cta {
	background-color: var(--clr-secondary-light);
	padding: 5em 0;
	color: #232323;
}

/*===Footer===*/

footer {
	background: #232323;
	color: var(--clr-light);
	text-align: left;
	padding: 4em 0;
}
.git-link {
	text-decoration: none;
	color: #fff;
	margin-left: 5px;
}
